{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>

{% endblock %}


{% block body %}


{#    <h1>paye {{ total }} €</h1>#}

{#    <a href="{{ path("app_order_make") }}" class="btn btn-success">oui</a>#}
{% endblock %}
